@charset "UTF-8";

img {
  display: inline-block;
  max-width: 100%;
}

.error-input {
  margin-left: 0.2rem;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: 400;
}

.form-group > a.badge {
  margin-left: 0.5rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.form-group > small {
  display: none;
}

.form-group > select > option {
  font-size: 1rem;
}

.custom-file-img-label::after {
  content: "Chọn hình ảnh";
}

.list > tr > td {
  text-align: center;
  padding: 0.5rem;
}

.avatar {
  width: 56px;
  height: 56px;
  object-fit: cover;
}

.avatar-img {
  height: 180px;
  object-fit: cover;
  display: inline-block !important;
}

.product-image {
  height: 256px;
  object-fit: cover;
}

.pagination > .page-item.active {
  pointer-events: none;
  cursor: default;
}