<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>/view/web/home.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>400</error-code>
        <location>/error?code=400</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/error?code=401</location>
    </error-page>
    <error-page>
        <error-code>402</error-code>
        <location>/error?code=402</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error?code=403</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error?code=404</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/error?code=405</location>
    </error-page>
    <error-page>
        <error-code>406</error-code>
        <location>/error?code=406</location>
    </error-page>
    <error-page>
        <error-code>407</error-code>
        <location>/error?code=407</location>
    </error-page>
    <error-page>
        <error-code>408</error-code>
        <location>/error?code=408</location>
    </error-page>
    <error-page>
        <error-code>409</error-code>
        <location>/error?code=409</location>
    </error-page>
    <error-page>
        <error-code>410</error-code>
        <location>/error?code=410</location>
    </error-page>
    <error-page>
        <error-code>411</error-code>
        <location>/error?code=411</location>
    </error-page>
    <error-page>
        <error-code>412</error-code>
        <location>/error?code=412</location>
    </error-page>
    <error-page>
        <error-code>413</error-code>
        <location>/error?code=413</location>
    </error-page>
    <error-page>
        <error-code>414</error-code>
        <location>/error?code=414</location>
    </error-page>
    <error-page>
        <error-code>415</error-code>
        <location>/error?code=415</location>
    </error-page>
    <error-page>
        <error-code>417</error-code>
        <location>/error?code=417</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error?code=500</location>
    </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/error?code=501</location>
    </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/error?code=502</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/error?code=503</location>
    </error-page>
    <error-page>
        <error-code>504</error-code>
        <location>/error?code=504</location>
    </error-page>
    <error-page>
        <error-code>505</error-code>
        <location>/error?code=505</location>
    </error-page>
    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/error?page=999</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/error?page=999</location>
    </error-page>
</web-app>